{% extends 'admin/tdash.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/editcus.css'%}">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="heading">
                <h1>Apply Changes</h1>
            </div>
            <form id="form" action="/updatecustomer/{{customer.id}}" method="post">
            {% csrf_token %}
            <div class="wrap" id="form">
                <div class="first">
                    <label>First Name:</label>
                    <input name="customer_firstname" id="name" type="text" value="{{customer.customer_firstname}}">
                </div>
                <div class="last">
                    <label>Last Name:</label>
                    <input name="customer_lastname" id="lname" type="text" value="{{customer.customer_lastname}}">
                </div>
            </div>
            <div class="wrap1">
                <label>Email:</label>
                <input name="customer_email" id="email" type="email" value="{{customer.customer_email}}">
                <span class="focus-input"></span>
                <div id ="emailerror"></div>
            </div>
            <div class="wrap1">
                <label>Phone Number:</label>
                <input name="customer_phone" id="number" type="number" value="{{customer.customer_phone}}">
                <span class="focus-input"></span>
                <div id ="numbererror"></div>
            </div>
            <div class="wrap1">
                <label>Password:</label>
                <input name="customer_password" id="password" type="text    " value="{{customer.customer_password}}">
                <span class="focus-input"></span>
                <div id ="passworderror"></div>
            </div>
            <div id ="nameerror"></div>
            <button class="btn" type="submit" value="submit">Update</button>
        </div>
    </div>
</form>
</body>
</html>
{% endblock %}