<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/l.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="heading">
                <h1>Login</h1>
                <p>Fill in the information to proceed.</p>
            </div>
            <form id="form" action="/adminlogin" method="post">
            {% csrf_token %}
            <div class="inp">
                <label>Username:</label>
                <input name="username" id="username" type="text" placeholder="Enter your username">
                <label>Password:</label>
                <input name="password" id="password" type="password" placeholder="Enter your password">
            </div>
            <div id ="emailerror"></div>
            <button class="btn" type="submit" value="submit">Login</button>
            <p>Don't have an account? <a href="/adminregister"><b>Sign Up</b></a></p>
        </div>
    </div>
</form>
</body>
</html>